.videoPlayer {
	min-height: 200px;
	max-width: 500px; /* Ограничение ширины */
	max-height: 700px;
	margin: 20px auto; /* Центрирование плеера */
	padding: 10px;
	border: 2px solid #ccc; /* Легкая рамка */
	border-radius: 8px; /* Скругление углов */
	background-color: #000; /* Черный фон для плеера */
}

.reactPlayer {
	border-radius: 8px; /* Скругление углов для плеера */
}
